
/* Game CSS */
#game {
  margin: auto;
  display: block;
  width: 400px;
  text-align: center;
  height: 300px;
}
#game #instructions {
  text-decoration: underline black;
}
#game #prompt {
  border: 3px black solid;
  padding: 15px;
  font-weight: lighter;
  font-size: 46px;
}
#game #button {
  background: lightgray;
  padding: 15px;
  border: none;
  font-size: 20px;
}
