/* Kana Style */

.kanaDiv {
  display: block;
  margin: auto;
}

.kanaList {
  border: black 1px solid;
  margin: 3px;
  display: inline-flex;
}

.kanaList td {
  border: black 1px solid;
  width: 55px;
  padding-left: 5px;
  padding-top: 5px;
  padding-bottom: 5px;
}
.kanaList td.rowStuff {
  width: 70px;
  border: dashed 1px;
}
.kanaList td.emptyCell {
  border: none;
}
.kanaList td.rowStuff button {
  padding: 5px 7px 5px 7px;
  background:  var(--tabGray);
  border: gray solid 1px;
  margin-right: 5px;
}
