/* Settings CSS */
#settings #mode {
  background: var(--tabGray);
  padding: 10px;
  border: 1px gray solid;
  margin-right: 30px;
}
#settings #mode h1 {
  margin: 5px;
}

#settings #kanaBank input[type='checkbox'] {
  float: right;
}
