/* side tabs */
#sideTabs {
  float: right;
  margin-right: -15px;
  margin-top: 10px;
  z-index: -1;
}
#sideTabs .sideTab {
  font-size: 25px;
  padding: 15px;
  padding-right: 18px;
  background: var(--tabGray);
  border-bottom-left-radius: 20px;
  border-top-left-radius: 20px;
  cursor: pointer;
}
